.bg-lightgrey {
  background-color: #efefef !important;
}

.bg-lighter {
  background-color: #fefefe !important;
}

.icon-size {
  width: 40px !important;
  height: 40px !important;
}

.icon-md-size {
  width: 58px !important;
  height: 58px !important;
}

.profile-photo-size {
  width: 120px !important;
  height: 120px !important;
}
.wh50x50 {
  width: 50px!important;
  height: 50px!important;
}

.wh50x50 {
  width: 50px!important;
  height: 50px!important;
}
.wh120x120 {
  width: 120px!important;
  height: 120px!important;
}

.w-120 {
  width: 120px !important;
}

.mw-100 {
  max-width: 100%;
}

.top {
  top: 0 !important;
}
.right {
  right: 0 !important;
}

.bottom {
  top: 0 !important;
}

.left {
  right: 0 !important;
}

.circle > div {
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.fs-xs {
  font-size: .8rem!important;
}
.fs-sm {
  font-size: .9rem!important;
}
.fs-md {
  font-size: 1rem!important;
}
.fs-lg {
  font-size: 1.25rem!important;
}
.fs-xl {
  font-size: 1.5rem!important;
}
.fs-xxl {
  font-size: 2rem!important;
}
.fs-xxxl {
  font-size: 10rem!important;
}
.z-index-high {
  z-index: 1000;
}
.z-index-middle {
  z-index: 500;
}
.z-index-low {
  z-index: 0;
}

.opacity-01 {
  opacity: 0.01;
}


.pointer {
  cursor: pointer;
}


input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}



.spinner {
  border: 2px solid #d5d5d5;
  border-radius: 50%;
  border-top: 2px solid #9c9f9e;
  border-bottom: 2px solid #9c9f9e;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



