/**
 * Base
 */
/// BODY
body {
  font-size: 16px;
}
/// A
a {
  color: #0c0c0c;
}
a:hover {
  color: #3c3c3c;
  text-decoration: none;
}

/**
 * Layout classes
 */
.l-center, .l-body {
  margin: auto;
  width: 1130px;
}
.l-width {
  width: 1130px;
}
.l-content-width {
  width: 806px;
}
.l-sidebar-width {
  width: 300px;
}
.l-body-content {
  width: 806px;
  overflow: hidden;
}
.l-body-sidebar {
  width: 300px;
  overflow: hidden;
}
.l-space {
  width: 16px;
}
.mt-space {
  margin-top: 16px;
}
.l-space-lg {
  width: 24px;
}
.ml-space-lg {
  margin-left: 24px;
}
.ml-7px {
  margin-left: 7px;
}
.ml-8px {
  margin-left: 8px;
}
.ml-10px {
  margin-left: 10px;
}
.ml-16px {
  margin-left: 16px;
}
.ml-44px {
  margin-left: 44px;
}
.ml-82px {
  margin-left: 82px;
}

/**
 * Utility classes
 */

/// BORDER

.border-w-2 {
  border-width: 2px;
}




/// Size, Width, Height
.h-70 {
  height: 70px;
}
.w-85 {
  width: 85px;
}
.w-360 {
  width: 360px;
}

.icon-size {
  width: 40px!important;
  height: 40px!important;
}

.icon-md-size {
  width: 58px !important;
  height: 58px !important;
}

.profile-photo-size {
  width: 120px !important;
  height: 120px !important;
}
.wh29x29 {
  width: 29px!important;
  height: 29px!important;
}
.wh40x40 {
  width: 40px!important;
  height: 40px!important;
}

.wh42x42 {
  width: 42px!important;
  height: 42px!important;
}

.wh50x50 {
  width: 50px!important;
  height: 50px!important;
}

.wh52x52 {
  width: 52px;
  height: 52px;
}


.wh120x120 {
  width: 120px!important;
  height: 120px!important;
}
.wh145x145 {
  width: 145px!important;
  height: 145px!important;
}
.wh85x56 {
  width: 85px!important;
  height: 56px!important;
}

.w-60 {
  width: 60px;
}

.w-75px {
  width: 75px;
}

.w-120 {
  width: 120px !important;
}

.mw-33 {
  max-width: 33.3333%;
}
.mw-100 {
  max-width: 100%;
}

.top {
  top: 0 !important;
}
.top-xs {
  top: .25em;
}
.right {
  right: 0 !important;
}
.right-md {
  right: 1em;
}

.bottom {
  bottom: 0 !important;
}

.left {
  left: 0 !important;
}

.radius-3px {
  border-radius: 3px!important;
}

.circle {
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.p-4px {
  padding: 0.25em; // 4px
}
.p-6px {
  padding: 0.375em; // 6px
}
.p-8px {
  padding: 0.5em; // 6px
}
.p-10px {
  padding: 0.625em; // 10px
}


.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.px-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-4px {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}
.py-8px {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}


.pt-8 {
  padding-top: 8px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-17 {
  padding-top: 17px !important;
}
.pt-20 {
  padding-top: 20px !important;
}

.pt-34 {
  padding-top: 34px !important;
}

.pt-40 {
  padding-top: 40px !important;
}
.pt-60 {
  padding-top: 60px !important;
}

.pr-10 {
  padding-right: 10px !important;
}
.pr-20 {
  padding-right: 20px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}
.pb-12 {
  padding-bottom: 12px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pl-10 {
  padding-left: 10px !important;
}
.pl-20 {
  padding-left: 20px !important;
}



.m-10px {
  margin: 0.625em; // 10px
}


.mt-8 {
  margin-top: 8px;
}
.mt-26 {
  margin-top: 26px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}


.mr-8 {
  margin-right: 8px;
}
.mr-15 {
  margin-right: 15px;
}

.mr-26 {
  margin-right: 26px;
}

.mr-60 {
  margin-right: 60px;
}


.mb-6 {
  margin-bottom: 6px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-22 {
  margin-bottom: 22px;
}
.mb-26 {
  margin-bottom: 26px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-34 {
  margin-bottom: 34px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-52 {
  margin-bottom: 52px;
}
.mb-56 {
  margin-bottom: 56px;
}
.mb-58 {
  margin-bottom: 56px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-68 {
  margin-bottom: 68px;
}



/// Color


.black {
  color: #000 !important;
}

.black600 {
  color: rgba(0, 0, 0, 0.60) !important;
}
.black870 {
  color: rgba(0, 0, 0, 0.87) !important;
}



.blackgray {
  color: #3B3B3B !important;
}

.darkergray {
  color: #4E4E4E !important;
}
.darkgray {
  color: #5F5F5F !important;
}

.darkergray100 {
  color: #626262 !important;
}
.gray {
  color: #707070 !important;
}
.gray100 {
  color: #717171 !important;
}
.gray900 {
  color: #909090 !important;
}
.lightgray {
  color: #AFAFAF !important;
}

.light {
  color: #e8e8e8 !important;
}
.lighter {
  color: #f0f0f0 !important;
}

.bg-black {
  background-color: #000000;
}
.bg-lightgray {
  background-color: #F5F5F5;
}

.bg-lightgray100 {
  background-color: #F4F4F4 !important;
}

.bg-lightgray200  {
  background-color: #EAEAEA !important;
}


.white {
  color: #FFFFFF;
}

.bg-gray {
  background-color: #bcbcbc;
}

.dark-red {
  color: #BE0033;
}
.red {
  color: #F20000;
}

.orangered {
  color: orangered;
}

.bg-orangered {
  background-color: orangered;
}



.border-darkgray {
  border-color: #5f5f5f;
}
.border-light {
  border-color: #E3E3E3!important;
}

.fa-darkgray:before {
  color: #5f5f5f;
}


.darkblue {
  color: #032674 !important;
}
.blue {
  color: #1684D0 !important;
}
.skyblue {
  color: #0384D0 !important;
}


.bg-skyblue {
  background-color: #0384D0 !important;
}

.bg-lightblue {
  background-color: #0098E1 !important;
}

.bg-lightgrey {
  background-color: #efefef !important;
}

.bg-lighter {
  background-color: #f4f4f4 !important;
}


.bg-yellow {
  background-color: #ffc800;
}


/// Font, font size, font weight

.fw-light {
  font-weight: 300 !important;
}
.fw-normal {
  font-weight: 400 !important;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-semi-bold {
  font-weight: 600 !important;
}
.bold {
  font-weight: 700 !important;
}

.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-17 {
  font-size: 17px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-27 {
  font-size: 27px;
}
.fs-36 {
  font-size: 36px;
}
.fs-40 {
  font-size: 40px;
}

.fs-xs {
  font-size: .8rem!important;
}
.fs-sm {
  font-size: .9rem!important;
}
.fs-md {
  font-size: 1rem!important;
}
.fs-lg {
  font-size: 1.25rem!important;
}
.fs-xl {
  font-size: 1.5rem!important;
}
.fs-xxl {
  font-size: 2rem!important;
}
.fs-xxxl {
  font-size: 10rem!important;
}


.fw-xs {
  font-weight: 100;
}
.fw-sm {
  font-weight: 300;
}

.helvetica {
  font-family: "Helvetica Neue";
}
.roboto {
  font-family: "Roboto";
}



/// Z-index
.z-index-high {
  z-index: 1000;
}
.z-index-middle {
  z-index: 500;
}
.z-index-low {
  z-index: 0;
}

.opacity-01 {
  opacity: 0.01;
}


.pointer {
  cursor: pointer;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}


.spinner {
  border: 2px solid #d5d5d5;
  border-radius: 50%;
  border-top: 2px solid #9c9f9e;
  border-bottom: 2px solid #9c9f9e;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.smat-input {
  padding-left: 0;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 0;
  color: #2E2E2E;
}
.smat-input-group-text {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 0;
  background-color: transparent;
}

.border-shadow {
  -webkit-box-shadow: 0 0 6px 3px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 0 6px 3px rgba(0,0,0,0.16);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}

.border-1-solid {
  border: 1px solid transparent;
}

.border-bottom-1-solid {
  border-bottom: 1px solid transparent;
}

