/**
 * Base
 */
/// BODY
body {
  font-size: 16px;
}
/// A
a {
  color: #0c0c0c;
}
a:hover {
  color: #3c3c3c;
  text-decoration: none;
}

/**
 * Layout classes
 */
.l-center {
  margin: auto;
  width: 1130px;
}
.l-content-width {
  width: 805px;
}
.l-width {
  width: 1130px;
}
.l-space {
  width: 16px;
}
.l-space-lg {
  width: 24px;
}
.ml-space-lg {
  margin-left: 24px;
}

/**
 * Utility classes
 */

/// BORDER

.border-w-2 {
  border-width: 2px;
}


.h-70 {
  height: 70px;
}
.w-360 {
  width: 360px;
}

.icon-size {
  width: 40px!important;
  height: 40px!important;
}

.icon-md-size {
  width: 58px !important;
  height: 58px !important;
}

.profile-photo-size {
  width: 120px !important;
  height: 120px !important;
}
.wh50x50 {
  width: 50px!important;
  height: 50px!important;
}

.wh50x50 {
  width: 50px!important;
  height: 50px!important;
}

.wh52x52 {
  width: 52px;
  height: 52px;
}


.wh120x120 {
  width: 120px!important;
  height: 120px!important;
}
.wh145x145 {
  width: 145px!important;
  height: 145px!important;
}

.w-120 {
  width: 120px !important;
}

.mw-100 {
  max-width: 100%;
}

.top {
  top: 0 !important;
}
.top-xs {
  top: .25em;
}
.right {
  right: 0 !important;
}
.right-md {
  right: 1em;
}

.bottom {
  top: 0 !important;
}

.left {
  right: 0 !important;
}

.circle > div {
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.px-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}



.mt-26 {
  margin-top: 26px;
}
.mt-60 {
  margin-top: 60px;
}


.mb-12 {
  margin-bottom: 12px;
}
.mb-26 {
  margin-bottom: 26px;
}
.mb-34 {
  margin-bottom: 34px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-56 {
  margin-bottom: 56px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-68 {
  margin-bottom: 68px;
}



/// Color

.darkgray {
  color: #5F5F5F !important;
}

.gray {
  color: #707070 !important;
}

.light {
  color: #e8e8e8 !important;
}

.lighter {
  color: #f0f0f0 !important;
}

.black {
  color: #000 !important;
}

.white {
  color: #FFFFFF;
}

.border-darkgray {
  border-color: #5f5f5f;
}

.fa-darkgray:before {
  color: #5f5f5f;
}


.bg-skyblue {
  background-color: #0384D0 !important;
}


.sbg-primary { // @deprecated. User .bg-skyblue
  background-color: #0384D0 !important;
}

.bg-lightgrey {
  background-color: #efefef !important;
}

.bg-lighter {
  background-color: #f4f4f4 !important;
}


/// Font




.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-17 {
  font-size: 17px;
}
.fs-20 {
  font-size: 20px;
}
.fs-40 {
  font-size: 40px;
}

.fs-xs {
  font-size: .8rem!important;
}
.fs-sm {
  font-size: .9rem!important;
}
.fs-md {
  font-size: 1rem!important;
}
.fs-lg {
  font-size: 1.25rem!important;
}
.fs-xl {
  font-size: 1.5rem!important;
}
.fs-xxl {
  font-size: 2rem!important;
}
.fs-xxxl {
  font-size: 10rem!important;
}


.fw-xs {
  font-weight: 100;
}
.fw-sm {
  font-weight: 300;
}

.z-index-high {
  z-index: 1000;
}
.z-index-middle {
  z-index: 500;
}
.z-index-low {
  z-index: 0;
}

.opacity-01 {
  opacity: 0.01;
}


.pointer {
  cursor: pointer;
}


input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}


.spinner {
  border: 2px solid #d5d5d5;
  border-radius: 50%;
  border-top: 2px solid #9c9f9e;
  border-bottom: 2px solid #9c9f9e;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.smat-input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 0;
}
.smat-input-group-text {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 0;
  background-color: transparent;
}

